html, body {
    /*background-image: url("./../bilder/hintergrund.gif");*/
    /*background-repeat: repeat-y;*/
    /*background-position: center center;*/
    /*background-size: contain;*/
    font-family: Trebuchet MS, Arial, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 14px;
}

a {
    color: #000000;
}

#wrapper {
    background-image: url("./../bilder/hintergrund.gif");
    background-repeat: repeat-y;
    background-position: center center;
    background-size: contain;
    width: 728px;
    height: auto;
    overflow: hidden;
    margin: auto;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

#mediatext {
    /*background-image: url("./../bilder/header_text.jpg");*/
    width: 414px;
    height: 238px;
    float: left;
}

#mediapic {
    /*background-image: url("./../bilder/header_bild.jpg");*/
    width: 266px;
    height: 238px;
    float: left;
}

#medialogo {
    /*background-image: url("./../bilder/media_magic.gif");*/
    width: 48px;
    height: 238px;
    float: left;
}

#nav {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    float: left;
}

#nav li {
    padding: 5px;
    float: left;
    list-style: none;

}

#nav li a {
    font-size: 15px;
    color: #000000;
    margin-right: 30px;
    text-decoration: none;
}
#nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

main {
    width: 100%;
    color: #ffffff;
    float: left;
}

main > #content_left, main > #content_right {
    padding: 10px;
}

#content_left {
    float: left;
    width: 390px;
    text-align: justify;
}

.left-content-media {
    float: left;
}

.left-content-media img {
    border: 2px solid #000000;
    margin-right: 10px;
    margin-bottom: 10px;
}
.bold-italic {
    font-style: italic;
    font-weight: bold;
}

#content_right {
    float: right;
    width: 290px;
    text-align: center;
}

#content_right img {
    margin-right: 3px;
}

.infobox {
    text-align: justify;
    padding-left: 40px;
    width: 200px;
}

.infobox_hide {
    display: none;
}

.infobox_show {
    display: block;
}

footer {
    background: #333;
    float: left;
    width: 100%;
    padding: 5px;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #000000;
}